body {
    font-family: 'Roboto', sans-serif;
}

.main-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('bg.jpg');
}

.main-section .word-display {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
    font-size: 70px;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px #000;
}

.main-section .word-display .txt span {
    color: orange;
}

.main-section .box {
    max-width: 500px;
}

.main-section  input, .main-section textarea {
    outline: none;
    box-shadow: none;
    font-size: 16px;
    padding: 10px;
}

.main-section textarea {
    min-height: 100px;
}

.main-section label {
    font-weight: bold;
}

.main-section .form-group.invalid label {
    color: red;
}

.main-section .form-group.invalid input,
.main-section .form-group.invalid textarea {
    border-color: red;
}

.fadeout {
    opacity: 0;
    animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}